body {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}


.block {
    border: 5px solid red;
    max-width: 800px;
    margin: auto;
    height: 1200px;
    position: relative;
}

.block div {
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.block__1 {
    background-color: #ece89d;

}


.block__2 {
    background-color: #5e5373;
    color: #fff;
    position: sticky;
    top: 0;

}

.block__3 {
    background-color: #18b5a4;
}


.block__4 {
    background-color: #000;
    color: #fff;
    position: sticky;
    top: 0;
}


.container {
    padding-top: 5rem;
}


.list {
    font-size: 18px;
}


.list li {
    margin: 0px 0px 10px 0px;
    position: relative;
}

.list li::before {
    content: '';
    background-image: url(./png-transparent-computer-icons-check-mark-yes-miscellaneous-angle-rectangle.png);
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 20px;

}